<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="http://127.0.0.1:5000/crear_usuario" method="post">
        <label for="usuario">Nombre de usuario:</label><br>
        <input name="usuario" type="text"><br>

        <label for="clave">Clave:</label><br>
        <input name="clave" type="text"><br>

        <label for="nombre">Nombre:</label><br>
        <input name="nombre" type="text"><br>

        <label for="apellido">Apellido:</label><br>
        <input name="apellido" type="text"><br>

        <label for="email">Correo electrónico:</label><br>
        <input name="email" type="text"><br>

        <label for="telefono">Teléfono</label><br>
        <input name="telefono" type="text"><br>

        <input type="submit" value="Enviar">
    </form>

</body>

</html>